body {
    background-color: #2a5298;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
button {
    background: #54982a;
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
button:hover {
    background: #c7400f;
    transform: scale(1.05);
}

input {
  padding: 5px;
  margin-right: 5px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.list-item:hover {
    background: rgba(255, 255, 255, 0.3);
}